.registration-result
{
    font-size: 250%;
}
body
{
    background: url("../images/main.jpg");
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    color: white;
}
.authorization-modal, .errorModal, .registration-modal, .createGame-modal, .acceptGame-modal,
.readyGame-modal
{    
    color: black;
}
.selectors
{
    background-color: #222222;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}
.game
{
    background-color: gray;
    color: black;
    border: 1px solid;
    border-radius: 5px;
}
.games-container
{
    background-color: rgba(0,0,0,0);
}
.description, .turn
{
    text-align: center;
}